Assignment Python #Timing 9-12
String Builtin Function # 24-11-2019

In [3]:
n='Ayesha Dawood'
dir(n)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [4]:
name='Ayesha Dawood'
print(name)
print(name.capitalize()) #Only capitalize 1 character of string

Ayesha Dawood
Ayesha dawood

In [5]:
name='Ayesha Dawood'
print(name.casefold()) #lower all character of string

ayesha dawood

In [6]:
name='Ayesha Dawood'
print(name.center(40)) #taking space of 40 character and pring name in the middle

             Ayesha Dawood

In [7]:
name='Ayesha Dawood'
print(name.count('a')) #print total number of a character like 'a'

2

In [8]:
name='Ayesha Dawood'
print(name.encode()) #encode the string

b'Ayesha Dawood'

In [9]:
name='Ayesha Dawood'
print(name.endswith('l')) #compare with end character of string and reture true or false

False

In [47]:
name='A\yesha Dawood'
print(name.expandtabs(3)) #space between the character

A\yesha Dawood

In [11]:
name='Ayesha Dawood'
print(name.find('m')) #return the index of find character

-1

In [12]:
name='My Name is {fname} {lname}'
print(name.format(fname='Ayesha',lname='Dawood')) #Insert the fname and lname inside the placeholder{}, the fname and lname should be in fixed point

My Name is Ayesha Dawood

In [13]:
name={'fname':'Ayesha', 'lname':'Dawood'}
print('{fname} {lname}'.format_map(name))

Ayesha Dawood

In [14]:
name='Ayesha Dawood' 
print(name.index('D'))  #return the index of specific character

7

In [15]:

name='AyeshaDawood43' 
print(name.isalnum()) #return if string is alphanumeic or not e.g character and number

True

In [16]:
name='Ayesha Dawood' 
print(name.isalpha()) #return true of false if string have all alphabets without space

False

In [17]:
name='Ayesha Dawood'
print(name.isascii())

True

In [18]:
name='Ayesha Dawood'
print(name.isdecimal()) #return if string have any decimal value

False

In [19]:
name='Ayesha Dawood' 
print(name.isdigit()) #return if string have any digits

False

In [20]:
name='AyeshaDawood' 
print(name.isidentifier()) #return true or false if string have some identifier like start with _,or no space between word

True

In [21]:
name='Ayesha Dawood'
print(name.islower()) #return true or false if string have all characters are lower case

False

In [22]:
name='Ayesha Dawood'
print(name.isnumeric())
number='12'
print(number.isnumeric()) #return true or false if string have all characters are numeric

False
True

In [23]:
name='Ayesha Dawood'
print(name.isprintable()) #return true or false if string have all characters are printable

True

In [24]:
name='Ayesha Dawood'
print(name.isspace())
name='  '
print(name.isspace())  #returns True if all the characters in a string are whitespaces, otherwise False

False
True

In [25]:
name='Ayesha Dawood'
print(name.istitle()) #return true or false if each word start with an upper case letter

True

In [26]:
name='Ayesha Dawood'
print(name.isupper())
name='AYEHSA DAWOOD'
print(name.isupper())  #return true or false if whole string will have upper case letter

False
True

In [27]:
name={'Ayseha','Dawood'}
print('  '.join(name)) #method takes all items in an iterable and joins them into one string. A string must be specified as the separator.

Ayseha  Dawood

In [28]:
name='Ayesha '
name1=name.ljust(20)
print(name1,"Dawood")  #return 20 character space from left justified

Ayesha               Dawood

In [29]:
name='Ayesha Dawood'
print(name.lower())  #return all character in lower case

ayesha dawood

In [30]:

name='   Ayesha Dawood   '
print(name)
name='   Ayesha Dawood   '
print(name.lstrip())   #remove space for letf side

   Ayesha Dawood
Ayesha Dawood

In [31]:

name='Ayesha Dawood'
print(name.partition('Dawood'))  #return a tuple

('Ayesha ', 'Dawood', '')

In [32]:
name='Ayesha Dawood'
print(name.replace('Ayesha','Nomi'))  #replace the word to another word

Nomi Dawood

In [33]:
name='Ayesha Dawood'
print(name.rfind('d')) #return the index almost rindex(),if value not found return -1

12

In [34]:

name='Ayesha Dawood'
print(name.rindex('A')) #return the index almost rindex(),if value not found return error

0

In [35]:
name='Ayesha Dawood'
print(name.rjust(25)) #return a justified version of string

            Ayesha Dawood

In [36]:
name='Ayesha Dawood'
print(name.rpartition('Dawood'))

('Ayesha ', 'Dawood', '')

In [37]:
name='Ayesha Dawood'
print(name.rsplit()) #return in list

['Ayesha', 'Dawood']

In [45]:
name='Ayesha Dawood'
print(name.rstrip())

Ayesha Dawood

In [ ]:
name='Ayesha Dawood'
print(name.split())

In [ ]:
name='Ayesha Dawood'
print(name.splitlines()) #return a single work list

In [39]:
name='Ayesha Dawood'
print(name.startswith('A'))
name='Ayesha Dawood'
print(name.startswith('D')) #return true or false if the given character are starting character of whole string

True
False

In [40]:
name='Ayesha Dawood'
print(name.strip())

Ayesha Dawood

In [41]:
name= 'Ayesha Dawood'
print(name.swapcase())  #return first character of every work in lower and other whole string will be UPPER case

aYESHA dAWOOD

In [42]:
name='Ayesha Dawood'
print(name.title()) #convert the first character of every word in UPPER Case

Ayesha Dawood

In [43]:
name='Ayesha Dawood'
print(name.upper()) #return the whole string in upper case

AYESHA DAWOOD

In [44]:
name='Ayesha Dawood'
print(name.zfill(14)) #add zeros after the total character of string with includes spaces

0Ayesha Dawood