Assignment Python #Timing 9-12
String Builtin Function # 24-11-2019

In [45]:
n='Ayesha Dawood'
dir(n)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [46]:
name='Ayesha Dawood'
print(name)
print(name.capitalize()) #Only capitalize 1 character of string

Ayesha Dawood
Ayesha dawood

In [47]:
name='Ayesha Dawood'
print(name.casefold()) #lower all character of string

ayesha dawood

In [48]:
name='Ayesha Dawood'
print(name.center(40)) #taking space of 40 character and pring name in the middle

             Ayesha Dawood

In [49]:
name='Ayesha Dawood'
print(name.count('a')) #print total number of a character like 'a'

2

In [50]:
name='Ayesha Dawood'
print(name.encode()) #encode the string

b'Ayesha Dawood'

In [51]:
name='Ayesha Dawood'
print(name.endswith('l')) #compare with end character of string and reture true or false

False

In [52]:
name='A\tesha Dawood'
print(name.expandtabs(3)) #space between the character

A  esha Dawood

In [53]:
name='Ayesha Dawood'
print(name.find('m')) #return the index of find character

-1

In [54]:
name='My Name is {fname} {lname}'
print(name.format(fname='Ayesha',lname='Dawood')) #Insert the fname and lname inside the placeholder{}, the fname and lname should be in fixed point

My Name is Ayesha Dawood

In [55]:
name={'fname':'Ayesha', 'lname':'Dawood'}
print('{fname} {lname}'.format_map(name))

Ayesha Dawood

In [56]:
name= 'Ayesha Dawood'
 
print(name.index('D'))  #return the index of specific character

7

In [57]:
name='AyeshaDawood43' 
print(name.isalnum()) #return if string is alphanumeic or not e.g character and number

True

In [58]:
name='Ayesha Dawood'
print(name.isalpha()) #return true of false if string have all alphabets without space

False

In [59]:
name='Ayesha Dawood' 
print(name.isascii())

True

In [60]:
name='Ayesha Dawood' 
print(name.isdecimal()) #return if string have any decimal value

False

In [61]:
name='Ayesha Dawood' 
print(name.isdigit()) #return if string have any digits

False

In [62]:
name='AyeshaDawood'
print(name.isidentifier()) #return true or false if string have some identifier like start with _,or no space between word

True

In [63]:
name='Ayesha Dawood'
print(name.islower()) #return true or false if string have all characters are lower case

False

In [64]:
name='Ayesha Dawood'
print(name.isnumeric())
number='12'
print(number.isnumeric()) #return true or false if string have all characters are numeric

False
True

In [65]:
name='Ayesha Dawood'
print(name.isprintable()) #return true or false if string have all characters are printable

True

In [66]:
name='Ayesha Dawood'
print(name.isspace())
name='  '
print(name.isspace())  #returns True if all the characters in a string are whitespaces, otherwise False

False
True

In [67]:
name='Ayesha Dawood'
print(name.istitle()) #return true or false if each word start with an upper case letter

True

In [68]:
name='Ayesha Dawood'
print(name.isupper())
name='AYEHSA DAWOOD'
print(name.isupper())  #return true or false if whole string will have upper case letter

False
True

In [69]:
name={'Ayesha','Dawood'}
print('  '.join(name)) #method takes all items in an iterable and joins them into one string. A string must be specified as the separator.

Ayesha  Dawood

In [70]:
name='Ayesha '
name1=name.ljust(20)
print(name1,"Dawood")  #return 20 character space from left justified

Ayesha               Dawood

In [71]:
name='Ayesha Dawood'
print(name.lower())  #return all character in lower case

ayesha dawood

In [72]:
name='   Ayesha dawood   '
print(name)
name='   Ayesha dawood   '
print(name.lstrip())   #remove space for letf side

   Ayesha dawood
Ayesha dawood

In [73]:
name='Ayesha Dawood'

print(name.partition('Khalid'))  #return a tuple

('Ayesha Dawood', '', '')

In [74]:
name='Ayesha Dawood'
print(name.replace('Nauman','Nomi'))  #replace the word to another word

Ayesha Dawood

In [75]:
name='Ayesha Dawood'
print(name.rfind('d')) #return the index almost rindex(),if value not found return -1

12

In [76]:
name='Ayesha Dawood'
print(name.rindex('D')) #return the index almost rindex(),if value not found return error

7

In [77]:
name='Ayesha Dawood'
print(name.rjust(25)) #return a justified version of string

            Ayesha Dawood

In [78]:
name='Ayesha Dawood'
print(name.rpartition('Dawood'))

('Ayesha ', 'Dawood', '')

In [79]:
name='Ayesha Dawood'
print(name.rsplit()) #return in list

['Ayesha', 'Dawood']

In [80]:
name='Ayesha Dawood'
print(name.rstrip())

Ayesha Dawood

In [81]:
name='Ayesha Dawood'
print(name.split())

['Ayesha', 'Dawood']

In [82]:
name='Ayesha Dawood'
print(name.splitlines()) #return a single work list

['Ayesha Dawood']

In [83]:
name='Ayesha Dawood'
print(name.startswith('N'))
name='Nauman Khalid'
print(name.startswith('K')) #return true or false if the given character are starting character of whole string

False
False

In [84]:
name='Ayesha Dawood'
print(name.strip())

Ayesha Dawood

In [85]:
name='Ayesha Dawood'
print(name.swapcase())  #return first character of every work in lower and other whole string will be UPPER case

aYESHA dAWOOD

In [86]:
name='Ayesha Dawood'
print(name.title()) #convert the first character of every word in UPPER Case

Ayesha Dawood

In [87]:
name='Ayesha Dawood'
print(name.upper()) #return the whole string in upper case

AYESHA DAWOOD

In [88]:
name='Ayesha Dawood'
print(name.zfill(14)) #add zeros after the total character of string with includes spaces

0Ayesha Dawood